<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/jpg" href="/static/images/logo32.jpg"/>
		<title>Alpha Tree Service</title>
	</head>

	<body class="main" style="background-color:black">
        <a href="http://alphatree.services">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="white" class="bi bi-arrow-left" viewBox="0 0 32 32">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
        <div style="margin-top:1em;">
            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center;">
                <a href="/galleryp1"><button style="padding:2px;margin:2px">1</button></a>
                <a href="/galleryp2"><button style="padding:2px;margin:2px">2</button></a>
            </div>
        </div>
        <div class="picdiv" >
            <div class="picdiv2"
                 style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;">
                 {{range .}}
                     {{if .Orient}}
                         <a href="/zoompic1?picid={{.PicID}}">
                             <img src={{.Thumb}} style="width:200px;padding:8px;border-radius:15px;"></img>
                         </a>
                     {{else}}
                         <a href="/zoompic2?picid={{.PicID}}">
                             <img src={{.Thumb}} style="width:200px;padding:8px;border-radius:15px;"></img>
                         </a>
                     {{end}}
                 {{end}}
            </div>
        </div>
        <div style="margin-top:1em;">
            <div style="display:flex;flex-direction:row;justify-content:center;align-items:center;">
                <a href="/galleryp1"><button style="padding:1px;margin:1px">1</button></a>
                <a href="/galleryp2"><button style="padding:1px;margin:1px">2</button></a>
            </div>
        </div>
    </body>
</html>

